*
!envs
!envs/requirements.yaml
!utils
!utils/legends.py
!.gitignore
!README.md
!spatial_data_prep_JOM.py
!data_exploration.ipynb
!GLAES_Aachen.ipynb
!GLAES_Aachen_test_data.ipynb
!Atlite_custom_region.ipynb